<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>Trekcrumb</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet"  href="<%=homeURI%>/css/trekcrumb-webapp.css"/>
    </head>
    <body onresize="common_layoutAdjustment()">
        <script src="<%=homeURI%>/javascript/trekcrumb-constants.js"></script>
        <script src="<%=homeURI%>/javascript/trekcrumb-common.js"></script>
        <script src="<%=homeURI%>/javascript/trekcrumb-menu.js"></script>
        <script src="<%=homeURI%>/javascript/trekcrumb-pagination.js"></script>
        <script src="<%=homeURI%>/javascript/trekcrumb-trip.js"></script>
    
    
        HELLO!!! YOU ARE OFFLINE WHAT YOU R TRYING TO DO, EH?
    </body>
</html>