/***************************************************************************************************
   Trekcrumb WebApp Layout CSS style-sheet.
   Note:
   1. While our main styling sheet trekcrumb-webapp.css serves common and reusable CSS styling classes, 
      this trekcrumb-layout.css is for specific/individual layout pages/fragment and their contents 
      (body, menus, images, etc.) that is intended NON-REUSABLE anywhere else in the webapp.
   2. For styling classes with @media, we emphasize on "Mobile First" philosophy, that is the default
      and initial style definition is for smallest possible screen. Further rules would be for
      larger screen sizes. 
   3. Usage:
      You must first use/declare trekcrumb-webapp.css for any styling. These layout classes here should
      be declared last as they provide overwriting style if any.
***************************************************************************************************/
#functionalButtonsID {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#errorAndInfoLayoutID { 
    position: fixed; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    z-index: 10000;
}

/*
 * Home page
 * -> Its position top must be readjusted due to disappear/reappearing act of Title-Main.
 *    (See CSS container-body-home).
 *    --> Default: Position horizontal at top-right corner.
 *    --> Potrait: Position vertical at top-right corner.
 */
#homeMenuPageID {
    position: fixed;
    top: 58px;
    right: 0px;
    
} @media screen and (min-height: 400px) {
    #homeMenuPageID {
        top: 106px;
        width: auto;
        right: 10px;
        margin: 0px;
    }
}

/*
 * Home Greeting Section and Fragment
 * -> homeGreetingSectionID
 *    --> The main layout for Greeting section where homeGreetingFragmentLayoutID resides.
 *    --> It is the FIRST section in Home page that sits beneath Menu-Main and Title-Main
 *    --> Its padding-top must be readjusted due to disappear/reappearing act of Title-Main.
 *        (See CSS container-body-home).
 * -> homeGreetingFragmentMessageID
 *    --> Its position is dynamically changed depending on screen width and height.
 */
#homeGreetingSectionID {
    box-sizing: border-box;
    height: 100%; 
    text-align: center;
    padding-top: 58px;
} @media screen and (min-height: 400px) {
    #homeGreetingSectionID {
        padding-top: 106px;
    }
}

#homeGreetingFragmentLayoutID {
    height:100%;
    background-image: url(../images/home_background_01.png);
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#homeGreetingFragmentMessageID {
    position: absolute;
    top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;   
} @media screen and (min-height: 600px) {
    #homeGreetingFragmentMessageID {
        top: 50%;
    }
 } @media screen and (min-width: 400px) {
    #homeGreetingFragmentMessageID {
        position: relative;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    } 
} @media screen and (min-width: 768px) {
    #homeGreetingFragmentMessageID {
        max-width: 600px;
    }
}

/*
 * Home TripGallery Section and Fragment
 * -> Also see "layout-tripList" and its related stylings for TripList
 */
#homeTripListSectionID {
    box-sizing: border-box;
    min-height: 100%;
    text-align: center;
}

/*
 * Home PlaceGallery Section and Fragment
 * -> homePlaceListSectionID
 *    --> While its "height = 100%", the content may go overflow since they are texts, so
 *        make sure we hide any possible overflow from the fragment's container.
 */
#homePlaceListSectionID {
    box-sizing: border-box;
    height: 100%; 
    text-align: center;
    overflow: hidden;    
}

#homePlaceGalleryFragmentLayoutID {
    height:100%;
    background-image: url(../images/home_background_04.png);
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#homePlaceGalleryFragmentLayoutID {
    position:relative; 
    height: 100%;
    background-color: #6D8A36; 
}

#homePlaceGalleryListContentID {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5px 0px 5px;
} @media screen and (min-width: 992px) {
    #homePlaceGalleryListContentID {
        padding: 0px 20px 0px 20px;
    }
}

.layout-row-place-list-asTag {
    box-sizing: border-box;
    margin: 5px; 
    padding: 10px; 
    max-width: 200px; 
    
    /* Transparent background */
    background: rgba(255, 255, 255, 0.75);
    /* Fallback for web browsers that doesn't support RGBa (IE, etc.) */
    background: rgb(255, 255, 255) transparent;
    /* For IE 5.5 - 7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";

} @media screen and (min-width: 768px) and (min-height: 600px) {
    .layout-row-place-list-asTag {
        margin: 7.5px; 
        padding: 20px; 
    }
}

/*
 * Home PictureGallery Section and Fragment
 * -> Also see "layout-picturelist" and its related stylings for PictureList
 */
#homePictureListSectionID {
    box-sizing: border-box;
    min-height: 100%;
    text-align: center;
}

/*
 * Home Login Section and Fragments
 * -> homeLoginFragmentLayoutID
 *    --> position = relative: To support element layouts inside it (homeLoginFragmentMessageID)
 *        has its position = absolute, and have its top set so it appears a bit centered in the fragment
 * -> homeLoginFragmentMessageID
 *    --> position = absolute: To avoid this layout to sit on top of the fragment, we must set its top
 *        to push it down a bit. We cannot use padding-top nor margin-top because it would affect
 *        the auto-scroll JS calculations
 *    --> The combo of left/right and margin-left/margin-right are to have it horizontally centered
 *        despite having position absolute.
 */
#homeLoginSectionID {
    box-sizing: border-box;
    height: 100%; 
    text-align: center;
}

#homeLoginFragmentLayoutID {
    position: relative;
    height:100%;
    background-image: url(../images/home_background_03.png);
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#homeLoginFragmentMessageID {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;    
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
} @media screen and (min-width: 400px) {
    #homeLoginFragmentMessageID {
        max-width: 300px;
        margin: auto;
    }
} @media screen and (min-width: 768px) {
    #homeLoginFragmentMessageID {
        max-width: 600px;
    }
}

#homeLoginSignUpID {
    height:48px; 
    text-decoration:underline;
}

#homeLoginFormID {
    width: 75%;
    padding: 0px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: white;
    display: none;
} @media screen and (min-width: 400px) and (min-height: 600px) {
    #homeLoginFormID {
        display: block;
    }
}


/*
 * TripList
 * -> layout-tripList: The main container for TripList
 * -> layout-triplist-row
 *    --> Styling for TripList row to display just like REGULAR rows.
 *    --> Styling for children elements include: layout-triplist-row-picture-cover, layout-triplist-row-summary
 *    --> layout-triplist-row-picture-cover: When display screen is wide enough, its "display = table-cell" 
 *        and "width = 50%" because we display the picture cover side-by-side with Trip note.
 *
 * -> layout-triplist-row-gallery
 *    --> Styling for TripList row to display as a GALLERY where rows may sit next to each other.
 *    --> Its "display = inline-block" to enable rows sit next to each other. Consequently, on narrow screen
 *        we must set "width = px" to maintain width width consistency to all rows. If we set "width = 100%", the results
 *        will not be consistent due to varied text contents.
 *    --> Styling for children elements include: layout-triplist-row-gallery-picture-cover, layout-triplist-row-gallery-summary
 *    --> layout-triplist-row-gallery-picture-cover: Its "display = block" and "width = 100%" because we
 *        display the picture cover at full width.
 *
 * -> layout-triplist-picture-cover-image: The picture cover image inside TripList row, apply for both layout-triplist-row
 *    (regular row) and layout-triplist-row-gallery (gallery row)
 */
.layout-triplist {
    padding: 40px 10px 20px 10px;
    text-align: center;
} @media screen and (min-width: 400px) {
    .layout-triplist {
        padding: 40px 20px 20px 20px;
    }
}

.layout-triplist-row {
    position:relative; 
    box-sizing: border-box;
    max-width: 600px;
    text-align:left;     
}

.layout-triplist-row-picture-cover {
    box-sizing: border-box;
    width: 100%;
    padding-right: 10px;
    text-align: left;
    overflow: hidden;
    display: block;
} @media screen and (min-width: 768px) {
    .layout-triplist-row-picture-cover  {
        width: 50%;
        display: table-cell;
    }
}

.layout-triplist-row-gallery {
    position:relative; 
    box-sizing: border-box;
    width: 250px;
    margin: 10px 0px 10px 0px;
    text-align:left;     
    overflow: hidden;
} @media screen and (min-width: 400px) {
    .layout-triplist-row-gallery {
        width: 350px;
        margin: 10px;
    }
} @media screen and (min-width: 768px) {
    .layout-triplist-row-gallery {
        width: 350px;
        /* height: 400px; */
        margin: 10px;
    }
} 

.layout-triplist-row-gallery-picture-cover {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: block;
}

.layout-triplist-picture-cover-image {
    /*
    width: auto;
    height: auto;
    */
    width: 100%;
    height: 100%;
    max-width: 200px;    
    max-height: 200px;
} @media screen and (min-width: 400px) {
    .layout-triplist-picture-cover-image {
        max-width: 300px;    
    }
}

/*
 * TripDetail
 */
 #tripDetailLayoutID {
    box-sizing: inherit; 
    padding: 10px; 
    height: 100%;
}

.layout-trip-summary-icons {
    padding: 10px 10px 0px 10px;
    text-align: right; 
}

.layout-trip-status-active {
    padding: 5px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #6D8A36;
    display: inline-block; 
    cursor: help;
}

.layout-trip-privacy-private {
    padding: 5px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #DD5F1B;
    display: inline-block;
    cursor: help;
}

/*
 * PictureList
 * -> layout-picturelist: The main container for PictureList
 * -> layout-picturelist-row-gallery
 *    --> Styling for TripList row to display as a gallery where rows may sit next to each other.
 *    --> Its "display = inline-block" to enable rows sit next to each other. Consequently, on narrow screen
 *        we must set "width = px" to maintain width width consistency to all rows. If we set "width = 100%", the results
 *        will not be consistent due to varied text contents.
 * -> layout-picturelist-row-gallery-image
 *    --> Unlike conventional <IMG>, the image is a background of a <DIV>. This is because we want to expand
 *        uncontrolled source image dimension to fit the squared container "layout-picturelist-row-gallery"
 *        while at the same time set how the image is expanded inside the container. 
 *    --> With this approach, some of image's part could be hidden if its size is not square
 *    --> With traditional <IMG> approach, we could achieve this goal however image always expands from top-left by default.
 */
.layout-picturelist {
    padding: 40px 10px 20px 10px;
    text-align: center;
} @media screen and (min-width: 400px) {
    .layout-picturelist {
        padding: 40px 20px 20px 20px;
    }
}

.layout-picturelist-row-gallery {
    position: relative; 

    box-sizing: border-box;
    width: 250px; 
    height: 250px; 
    line-height: 250px; 
    margin: 10px 0px 20px 0px;
    padding: 0px;
    border-radius: 0px;

    vertical-align: middle; 
    text-align: center; 
    display:inline-block;
    overflow: hidden; 
} @media screen and (min-width: 400px) {
    .layout-picturelist-row-gallery {
        width: 350px;
        height: 350px; 
        line-height: 350px; 
        margin: 10px;
    }
}

.layout-picturelist-row-gallery-image {
    width:100%; 
    height:100%; 

    background-repeat: no-repeat;
    background-position: center top;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.layout-picturelist-row-gallery-note {
    position: absolute; 
    bottom: 0px; 

    box-sizing: border-box; 
    width: 100%;
    line-height: normal; 
    padding: 5px 10px 5px 10px; 
    text-align: left; 
}

.layout-picturelist-row-gallery-userdetail {
    position: absolute; 
    top: 0px; 
}

/*
 * User Profile Thumbnail
 */
#userProfileThumbnailID {
    box-sizing: border-box; 
    width: 100%; 
    line-height: normal; 
    vertical-align: top; 
    text-align: left; 
}

/*
 * UserDetail
 * -> userDetailLayoutID: The main layout container.
 *    --> To achieve the look-feel, the layout also incorporate many CSS classes from trekcrumb-webapp.css
 * -> userDetailContentID: 
 *    --> Layout for all the user details and summary.
 */
#userDetailLayoutID {
    box-sizing:inherit; 
    height:100%;
}
 
#userDetailContentID {
    padding: 10px;
}

/*
 * PictureSlideshow
 * -> pictureSlideshowLayoutID: The main layout container
 *    --> It is where both image and details will be displayed.
 *    --> It is responsive to the size of display screen. 
 *        For small device, by default it fills the entire width of its parent (100%). 
 *        For larger device, its width is limited to a max value.
 * -> pictureSlideshowImgContentContainerID: The container where image will show up.
 *    --> Tricky part: Its shape must be square where its height will be 
 *        dynamically set as a function of the width. This is where its elements 
 *        pictureSlideshowImgContentHeightAsFunctionOfWidthID and pictureSlideshowImgContentID
 *        help to achieve this. Its position must be "relative".
 * -> pictureSlideshowImgContentHeightAsFunctionOfWidthID: A "dummy" previous sibling of the actual
 *    content element (pictureSlideshowImgContentID) that is crucial to express the height as 
 *    a function of the width by having its margin-top (or padding-top) set to % value. 
 *    This setting enforces the aspect ratio width:height.
 * -> pictureSlideshowImgContentID: The layout where the image will reside. 
 *    --> Position = "absolute" to remove the element from the normal flow inside its container 
 *        and allow the dummy element to dictate the sizing of the container.
 *    --> Top/bottom/left/right = "0" to stretch the element to the edges of the container.
 */
#pictureSlideshowLayoutID {
    box-sizing: border-box;
    padding: 10px; 
    width: 100%;
    max-width: 600px;
    
    background-color: #F4F5F0;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#pictureSlideshowImgContentContainerID {
    position: relative; 
    width: 100%;
    display: inline-block; 
}

#pictureSlideshowImgContentHeightAsFunctionOfWidthID {
    margin-top: 100%;
}

#pictureSlideshowImgContentID {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
    vertical-align: middle;
    overflow: hidden; 
}

#pictureSlideshowDetailID {
    box-sizing: inherit; 
    margin-top: 10px; 
    width: 100%; 
    text-align: left; 
    cursor: text; 
    display: inline-block;
}


/*
 * PictureGallery
 * -> pictureGalleryLayoutID: The main layout container.
 * -> layout-picture-gallery-content:
 *    --> The styling for gallery's image content. 
 *    --> Since it will be list of rows, this CSS style cannot refer to element ID 
 *        because it would be bunch of duplicates IDs.
 *    --> "vertical-align" default to TOP such that the default image icon (CSS font) will
 *        be centered vertically among valid/success images.
 *    --> This class will be used and referred to in order to manipulate content style dynamically
 * -> layout-picture-gallery-content-size:
 *    --> Defines the dynamic dimensions for the gallery's image content.
 * -> See trekcrumb-picture.js and trekcrumb-responsive.js
 */
#pictureGalleryLayoutID {
    position: relative; 
    margin: 0px 10px 0px 10px; 
    text-align:center; 
    
    background-color: #F4F5F0;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    overflow:hidden;
}

.layout-picture-gallery-content {
    padding: 5px;
    vertical-align: top;
    cursor: pointer;
    
    transition: all 0.75s ease-in-out;
    -webkit-transition: all 0.75s ease-in-out;
    -moz-transition: all 0.75s ease-in-out;
    -ms-transition: all 0.75s ease-in-out;
    -o-transition: all 0.75s ease-in-out;
}

.layout-picture-gallery-content-size {
    box-sizing:border-box; 
    width: 72px;
    height: 72px;
    line-height: 72px;
} @media screen and (min-width: 768px) {
    .layout-picture-gallery-content-size {
        width: 98px;
        height: 98px;
        line-height: 98px;
    }
}

/*
 * PictureDetail
 * -> pictureDetailLayoutID: The main layout container.
 *    --> Must occupy entire screen width/height, overlaying Menu_Main and Title-Main
 * -> pictureDetailImgContentID:
 *    --> Width/Height: Unlike pictureSlideshow or pictureList, this will not be square.
 *    --> Adjust these dimensions based on screen orientation to make sure the 
 *        downloaded image would fill perfectly the entire screen whether it is potrait or landscape. 
 *        This to ensure no parts would overflow outside of the display nor y/x-scrolling would occur.
 *    --> If "potrait": Fills the entire width and height
 *    --> If "landscape": Fills the entire height, but not width
 *    --> Line-height: We cannot set line-height via CSS. See trekcrumb-responsive.js
 */
#pictureDetailLayoutID {
    position: fixed; 
    top:0px; 
    bottom:0px; 
    right:0px; 
    left:0px; 
    z-index: 1000;
    background-color: black; 
    overflow: hidden; 
}

#pictureDetailImgContentID {
    height: 100%;
    width: 100%;
} @media screen and (orientation: landscape) {
    #pictureDetailImgContentID {
        height: 100%;
        width: auto;
    }
}

/*
 * PlaceDetail
 * -> placeDetailLayoutID: The main layout container.
 *    --> This CSS is in addition to its primary styles: body-halfOrFullWidth and body-halfOrFullWidth-secondary
 *    --> DO NOT specify line-height because it will mess up the display of map API contents where
 *        some of its sub-elements such as text, etc. are forced to fill the centered height.
 * -> mapCanvasID: 
 *    --> Map area inside PlaceDetail. It is more complex than what CSS could handle. 
 *        See trekcrumb-responsive.js
 */
#placeDetailLayoutID {
    box-sizing: inherit; 
    padding:5px; 
    height:100%; 
    overflow:hidden; 
}

#mapCanvasID {
    overflow: hidden; 
    background-color: #F4F5F0;
}

/*
 * Comment List
 */
.layout-commentlist {
    padding: 40px 10px 20px 10px;
} @media screen and (min-width: 400px) {
    .layout-commentlist {
        padding: 40px 20px 20px 20px;
    }
}


/* END trekcrumb-layout.css */