/***************************************
 SOURCE: 
 http://projects.lukehaas.me/css-loaders
****************************************/
.small {
    width: 30px;
    height: 30px;
}
.large {
    width: 60px;
    height: 60px;
}

/* SPINNER WITH SOLID CIRCLE LINE
*********************************/
.spinner-with-circle-line {
    border-radius: 50%;

    /* CSS3: Spinning animation */
    animation: container-spinner-with-circle-line 2s infinite linear;
    -webkit-animation: container-spinner-with-circle-line 2s infinite linear;
}
.white {
    background-color: #000000;
    
    border-top: 10px solid rgba(255, 255, 255, 0.75);
    border-right: 10px solid rgba(255, 255, 255, 0.75);
    border-bottom: 10px solid rgba(255, 255, 255, 0.75);
    border-left: 10px solid #FFFFFF;
}
.black {
    background-color: #FFFFFF;
    
    border-top: 10px solid rgba(0, 0, 0, 0.25);
    border-right: 10px solid rgba(0, 0, 0, 0.25);
    border-bottom: 10px solid rgba(0, 0, 0, 0.25);
    border-left: 10px solid #000000;
}
@-webkit-keyframes container-spinner-with-circle-line {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@keyframes container-spinner-with-circle-line {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
